*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --border-rad: 1.5rem;
    --sidebar-large-padding: 1.5rem;
    --main-bg: #c7c7c7;
    --secondary-bg-clr: #26547C;
    --dark-text-clr: white;
    --light-text-clr: #010400;
    --button-clr: #84DCC6;
    --header-clr: var(--list-card-clr);
    --placeholder-txt-clr: rgb(84, 84, 84);
    --list-card-clr: #306a9c;
    --todo-card-clr: rgb(238, 238, 238);
    --input-underline-clr: white;
    --input-clr: #26547C;
}

::placeholder {
    color: var(--placeholder-txt-clr);
    opacity: 1;
}

.hidden {
    display: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid: 
    "sidebar header" 1fr
    "sidebar todo_pane" 10fr
    "footer footer" 1fr / 1fr 4fr
    ;
    background-color: var(--main-bg);
}

body > :nth-child(n):not(.sidebar, dialog, header) {
    padding: 1rem;
}

header {
    padding: 0 2rem;
    background-color: var(--header-clr);
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

header {
    grid-area: header;
}

.todo.pane {
    grid-area: todo_pane;
}

.bars {
    font-size: 3rem;
    padding-top: 0.5rem;
    margin-bottom: var(--sidebar-large-padding);
}

.sidebar > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--sidebar-large-padding);
    /* border-top-right-radius: var(--border-rad); */
    border-bottom-right-radius: var(--border-rad);
    background-color: var(--secondary-bg-clr);
}

.lists.display {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
} 

.list.display.wrapper {
    display: grid;
    grid-template: 1fr / 2fr repeat(2, auto);
    background-color: var(--list-card-clr);
    border-top-right-radius: var(--border-rad);
    border-bottom-right-radius: var(--border-rad);
}

.list.display.wrapper button, .todo.display.wrapper button {
    background-color: transparent;
}

.list.display.wrapper button:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list.display.wrapper:first-child > button:nth-child(2) {
    grid-column: 2 / 4;
}

.list.addition.wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
}

.addition.list.wrapper > input {
    grid-column: 1 / span 2;
}

h2 {
    text-align: center;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.9rem;
}

.todo.pane .headings.wrapper {
    margin: 0 auto;
    width: fit-content;
}

.todo.pane .headings.wrapper h2:first-child {
    text-transform: uppercase;
}

section.todo.pane {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 7rem;
}

.todo.addition.wrapper {
    gap: 1rem;
    display: grid;
    grid-template: 1fr / 4fr repeat(2, auto);
}

.todos.display {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.todo.display.wrapper {
    display: grid;
    grid-template: 1fr / 4fr repeat(2, auto);
    gap: 1rem;
    background-color: var(--todo-card-clr);
}

.todo.display.wrapper > div {
    display: flex;
    align-items: center;
}

.todo.addition.wrapper button, .list.addition.wrapper button, dialog button:not(.close) {
    width: 9rem;
}

button, select, .todo.display.wrapper > div {
    padding: 0.7rem;
}

.addition.wrapper button, select, .todo.display.wrapper, dialog button {
    border-radius: var(--border-rad);
}

button, input, select {
    padding: 0.7rem;
    appearance: none;
    border: none;
    font-size: 1rem;
}

input {
    padding: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--input-underline-clr);
    outline: none;
    color: var(--dark-text-clr);
}

button {
    color: var(--dark-text-clr);
    background-color: var(--button-clr);
}

select {
    background-color: var(--input-clr);
    color: var(--dark-text-clr);
}

/* PANE DIALOG STYLING START */

dialog::backdrop {
    background-color: #82a2cde6;
}

dialog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 800;
    padding: 2.5rem;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: var(--border-rad);
}

dialog form {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
}

dialog button.close {
    margin-left: auto;
}

dialog button.add {
    margin: 0 auto;
    width: 50%;
}

dialog h2 {
    text-align: center;
    margin-bottom: 2.1rem;
    font-size: 3.2rem;
}

dialog select {
    border: none;
}

dialog select {
    padding: 0.8rem 0.4rem;
}

dialog input, dialog select {
    font-size: 1.3rem;
    font-weight: 800;
}


/* PANE DIALOG STYLING END */