*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: 'none';
}

body {
    min-height: 100vh;
    display: grid;
    grid: 
    "sidebar header" 1fr
    "sidebar todo_pane" 15fr
    "footer footer" 1fr / 1fr 4fr
    ;
}

body > :nth-child(n):not(.sidebar) {
    padding: 1rem;
}

footer {
    grid-area: footer;
}

.sidebar {
    grid-area: sidebar;
}

header {
    grid-area: header;
}

.todo.pane {
    grid-area: todo_pane;
}

.lists.display {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
} 

.add.list.wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
}

.add.list.wrapper > input {
    grid-column: 1 / span 2;
}

h2 {
    text-align: center;
}

.todo.pane .headings.wrapper, .todo.addition.wrapper {
    margin: auto;
    width: fit-content;
}

.todo.addition.wrapper {
    display: flex;
    gap: 1.5rem;
}

button, input {
    padding: 0.7rem;
    appearance: none;
    border: none;
    font-size: 1rem;
}

button {
    color: palevioletred;
}

input {
    background-color: rgb(189, 189, 189);
    color: white;
}