*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.hidden {
    display: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid: 
    "sidebar header" 1fr
    "sidebar todo_pane" 15fr
    "footer footer" 1fr / 1fr 4fr
    ;
}

body > :nth-child(n):not(.sidebar, dialog, header) {
    padding: 1rem;
}

header {
    padding: 0 2rem;
}

footer {
    grid-area: footer;
}

.sidebar {
    grid-area: sidebar;
}

header {
    grid-area: header;
}

.todo.pane {
    grid-area: todo_pane;
}

.lists.display {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
} 

.list.display.wrapper {
    display: grid;
    grid-template: 1fr / 2fr repeat(2, 1fr);
}

.list.display.wrapper:first-child > button:nth-child(2) {
    grid-column: 2 / 4;
}

.add.list.wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
}

.add.list.wrapper > input {
    grid-column: 1 / span 2;
}

h2 {
    text-align: center;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.9rem;
}

.todo.pane .headings.wrapper, .todo.addition.wrapper {
    margin: 0 auto;
    width: fit-content;
}

.todo.pane .headings.wrapper h2:first-child {
    text-transform: uppercase;
}

section.todo.pane {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.todo.addition.wrapper {
    display: flex;
    gap: 1.5rem;
    display: grid;
    grid-template: 1fr / 3fr repeat(2, 1fr);
}

button, input, select {
    padding: 0.7rem;
    appearance: none;
    border: none;
    font-size: 1rem;
}

button {
    color: palevioletred;
}

input, select {
    background-color: rgb(189, 189, 189);
    color: white;
}

/* PANE DIALOG STYLING START */

dialog::backdrop {
    background-color: #2c6bbde6;
}

dialog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 800;
    padding: 2.5rem;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #0c1c33; */
}

dialog form {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
}

dialog button.close {
    margin-left: auto;
}

dialog button.add {
    margin: 0 auto;
    width: 50%;
}

dialog h2 {
    text-align: center;
    margin-bottom: 2.1rem;
    font-size: 3.2rem;
}

dialog input, dialog select {
    border: none;
    padding: 0.8rem 0.4rem;
    font-size: 1.3rem;
    font-weight: 800;
}

/* PANE DIALOG STYLING END */